<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs')%>

    <body>
        <%- include('partials/header.ejs')%>


            <%- include('partials/navbar.ejs') %>
                <section class="container">
                    <article class="content">
                        <h1>ABRINDO O GUARDA-CHUVA</h1>
                        <span>De 1960 a 1967</span>
                    </article>
                </section>

                <div class="div-par">
                    <article class="article-home">
                        <p>A Umbrella nasceu pelas mãos de dois nobres aristocratas, Lord Ozwell E. Spencer e Lord
                            Edward Ashford, ambos oriundos de famílias ricas e tradicionais. Além deles, o pesquisador
                            James Marcus foi a outra parte do tripé nas descobertas que levaram a fundação da empresa.
                        </p>
                        <p>
                            Em meados dos anos 1960, Spencer se interessou pelo livro chamado “Pesquisa da História
                            Natural”, escrito por Henry Travis muitos anos antes, que trazia ricas informações sobre a
                            fauna e a flora do continente, bem como sobre as tradições, cultura e folclore dos povos
                            africanos, especialmente da tribo Ndipaya. Spencer ficou interessado na flor “Escada para o
                            Sol”, descrita no livro e nos efeitos que ela causava nos membros da tribo, e compartilhou
                            as informações com seus companheiros, Ashford e Marcus. Após isso, eles organizaram uma
                            expedição a África Ocidental em setembro de 1966 com o auxílio de Brandon Bailey, e acharam
                            a flor Sonnentreppe no Jardim do Sol.
                        </p>
                        Após três meses de pesquisas e de constantes ataques da tribo Ndipaya, Spencer, Ashford e Marcus
                        tiveram seus esforços recompensados com a descoberta de um vírus na flor Sonnentreppe, batizado
                        de Progenitor. O vírus possuia a formidável habilidade de recombinar o DNA de organismos vivos.
                        Alguns meses depois, mais precisamente em 12 de fevereiro de 1967, amostras da Sonnetreppe foram
                        levadas para os EUA para a produção do vírus Progenitor em massa. Entretanto, a tentativa de
                        produção falha, pois a Sonnentreppe cultivada em solo americano não apresentava o Progenitor em
                        sua composição, como puderam observar James Marcus e Brandon Bailey. O próximo passo foi a
                        condução de diversos experimentos como alteração na água, temperatura, solo e exposição a luz,
                        visando encontrar uma alternativa para produzir com sucesso a Sonnentreppe fora de seu habitat
                        natural, no entanto todas as tentativas se mostraram ineficazes.
                        <p>
                            Em março daquele ano, em uma conversa com Marcus e Bailey, Spencer mostra interesse em abrir
                            uma empresa. Marcus, por sua vez, pareceu não se importar, sempre deixando bem claro que pra
                            ele o importante era poder continuar com as pesquisas do Progenitor. No fim daquele ano, no
                            mês de novembro, a construção da mansão de Spencer na região de Arklay é concluída. Além da
                            mansão, havia um laboratório secreto no local, e lá Spencer mantinha dois tipos de amostras
                            do vírus Progenitor que ele havia guardado consigo desde a sua descoberta. Já visando fazer
                            experimentos com as duas variáveis do vírus, Spencer convida George Trevor (o arquiteto da
                            mansão), Jessica (esposa) e Lisa (filha de Trevor) para passar uns dias na mansão, como
                            forma de agradecimento. Jessica e Lisa chegam ao local antes de George, e logo são
                            infectadas com o tipo A e o tipo B, respectivamente. O tipo A do vírus acaba por matar
                            Jessica, mas Lisa, infectada com o tipo B, permanece viva apesar das mutações que começam a
                            ocorrer em seu corpo. George Trevor chega ao local três dias depois e é aprisionado e
                            descobre a verdade sobre sua família, e mesmo conhecendo o local que fora projetado por ele,
                            acaba morrendo antes de conseguir escapar de lá. Lisa é mantida no laboratório e sendo
                            submetida aos mais diferentes experimentos.
                        </p>
                        <p>
                            Enquanto isso, Edward Ashford deixou a equipe e partiu para conduzir seus próprios
                            experimentos com o Progenitor ao lado de seu filho, Alexander Ashford.
                        </p>
                    </article>
                </div>







                <%- include('partials/footer.ejs')%>
                    <!-- <%- include('partials/foot.ejs')%> -->
    </body>

</html>