<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs')%>

    <body>
        <%- include('partials/header.ejs')%>


            <%- include('partials/navbar.ejs') %>
                <section class="container">
                    <article class="content">
                        <h1>Contato</h1>
                        <h2>Preencha seus dados e entraremos em contato assim que possível.</h2>
                    </article>
                


            <section class="contact">
                <form id="form-contact" method="post">

                    <div id="form-group">
                        <label>Nome:</label>
                        <input type="text" id="name" name="nome" placeholder="Digite seu nome">
                    </div>
                    <div id="form-group">
                        <label>E-mail:</label>
                        <input type="email" id="email" name="email" placeholder="Digite seu E-mail">
                    </div>
                    <div id="form-group">
                        <label>Phone:</label>
                        <input type="tel" id="tel" name="tel" placeholder="( ) ____ ___">
                    </div>
                    
                    <input id="btn-send" type="submit" value="Enviar">
                </form>
            </section>

            <div class="span-tip">Dados cadastrados com Sucesso!</div>
        </section>
                <%- include('partials/footer.ejs')%>
                <%- include('partials/foot.ejs')%>
    </body>

</html>