<!DOCTYPE html>
<html lang="en">
 <%- include('partials/head.ejs')%>
<body>
    <%- include('partials/header.ejs')%>


    <section class="container">
        <%- include('partials/navbar.ejs') %> 

        <article class="content">
            <h1>Home</h1>
        </article>
    </section>


    <section class="bg-icon">
        <div>
            <img class="zomb" src="/img/zombie.gif">
        </div>
        <div>
            <img class="img-roll" src="/img/umbrella_icon_roll.ico">
        </div>
    </section>



    <%- include('partials/footer.ejs')%>
    <%- include('partials/foot.ejs')%>
</body>
</html>